* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 0px 5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

#page-wrapper{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 20% 1fr 20%;
  grid-template-areas: 
  "about aboutDetails"
  "work project"
  "contactMe ContactDetails";
}

.page-section{
  margin: 5px;
  display: grid;
  align-content: start;
}

#about{
  grid-area: about;
} 

#aboutDetails{
  grid-area: aboutDetails;
} 

#work{
  grid-area: work;
} 

#contactMe{
  grid-area: contactMe;
} 

#ContactDetails{
  grid-area: ContactDetails;
} 

#project{
  grid-area: project;
}

#about, #work, #contactMe{
  border-right: 5px solid slategray;
}

#projects{
  display:grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px 200px;
  grid-template-areas: 
    "featuredWork featuredWork"
    "featuredWork featuredWork"
    "project2 project3"
    "project4 project5";
}

.projectArea{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#featuredWork{
  grid-area: featuredWork;
  background-image: url("../images/02-portfolio-1.jpg");
}

#project2{
  grid-area: project2;
  background-image: url("../images/02-portfolio-2.jpg");
}

#project3{
  grid-area: project3;
  background-image: url("../images/02-portfolio-3.jpg");

}

#project4{
  grid-area: project4;
  background-image: url("../images/02-portfolio-4.jpg");

}

#project5{
  grid-area: project5;
  background-image: url("../images/02-run-buddy.jpg");

}

#navBar {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  background-color: black;
}

#navBar h1 {
  font-weight: 800;
  font-size: xx-large;
  color: slategray;
  margin-left: 10px;
}

#navigation{

  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-around;
}

#navigation a{
  text-decoration: none;
  color: slategray
}

.hero-banner{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  background-image: url("../images/02-hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  margin-bottom: 10px;
}
.hero-banner img{
 height: 95%;
}
.hero-banner h2{
  color: aliceblue;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 5px;
  height: 80px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid slategray;
}

