* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 0px 5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.page-wrapper{
  display: grid;
  /* margin: 0px 5%;
  min-height: 500px;
  height: 70vh; */
  /* justify-content: center;
  align-items: center; */
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "about aboutDetails"
  "work projects";
}

#about{
  grid-area: about;
} 

#aboutDetails{
  grid-area: aboutDetails;
} 

#work{
  grid-area: work;
} 

#projects{
  grid-area: projects;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "featuredWork featuredWork"
    "project2 project3"
    "project4 project5";
}

.featuredWork{
  grid-area: featuredWork;
}

.project2{
  grid-area: project2;
}

.project3{
  grid-area: project3;
}

.project4{
  grid-area: project4;
}

.project5{
  grid-area: project5;
}

#navBar {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  background-color: black;
}

#navBar h1 {
  font-weight: 800;
  font-size: xx-large;
  color: white;
  margin-left: 10px;
}

#navigation{

  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-around;
}




